<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Api" stopProcessing="true">
          <match url="^api/?(.*)" />
          <action type="Rewrite" url="#{Azure_Api_Url}{R:1}" logRewrittenUrl="false" />
        </rule>
        <rule name="CatchAll" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" logRewrittenUrl="false" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <httpProtocol>
         <customHeaders>
            <clear />
            <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
            <!-- <add name="Content-Security-Policy" value="default-src 'self' *.kamstrup.com; style-src 'self' 'unsafe-inline' *.googleapis.com blob:; connect-src *.b2clogin.com *.microsoftonline.com *.kamstrup.com *.blob.core.windows.net/topbar/applicationLinks.json https://dc.services.visualstudio.com/v2/track; img-src 'unsafe-inline' data: *.kamstrup.com *.googleapis.com *.gstatic.com *.ggpht.com; script-src 'unsafe-inline' *.msecnd.net *.kamstrup.com *.mapbox.com *.googleapis.com https://az416426.vo.msecnd.net/scripts/a/ai.0.js https://dc.services.visualstudio.com/v2/track; font-src 'self' data: *.gstatic.com;"/> -->
            <add name="X-Frame-Options" value="SAMEORIGIN"/>
            <add name="X-XSS-Protection" value="1; mode=block"/>
            <add name="X-Content-Type-Options" value="nosniff"/>
            <add name="Referrer-Policy" value="no-referrer-when-downgrade"/>
            <add name="Feature-Policy" value="accelerometer 'none'; ambient-light-sensor 'none'; autoplay 'none'; battery 'none'; camera 'none'; display-capture 'none'; document-domain 'none'; encrypted-media 'none'; fullscreen 'none'; geolocation 'none'; gyroscope 'none'; legacy-image-formats 'none'; magnetometer 'none'; microphone 'none'; midi 'none'; oversized-images 'none'; payment 'none'; picture-in-picture 'none'; publickey-credentials 'none'; sync-xhr 'none'; unoptimized-images 'none'; unsized-media 'none'; usb 'none'; vibrate 'none'; vr 'none'; wake-lock 'none'; xr-spatial-tracking 'none'"/>
            <remove name="X-Powered-By" />
         </customHeaders>
      </httpProtocol>
  </system.webServer>
</configuration>
